.container{
  width: 70%;
  float: left;
}
.category {
  border-top: 2px solid;
}
.item-line {
  content: "";
  display: block;
  clear: both;
  .price {
    float: right; }
}

.descr-line {
  content: "";
  display: block;
  clear: both;
  .icons {
    float: right;
  }
}
